
@using System.Web.ModelBinding
@model IEnumerable<WebAplicacion.Models.Operaciones.DetalleOperacionesViewModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RutDeudor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimeinto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                   <td   @Html.DisplayFor(modelItem => item.RutDeudorClass)>
 
                        @Html.DisplayFor(modelItem => item.RutDeudor)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.NroDocumento)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.FechaEmision)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.FechaVencimeinto)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.Pais)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.Plaza)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td >
                    <td >
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td >

                </tr>
            }
        }
    }
    else{
        for (int i = 1; i <= 5; i++)
        {
            <tr class="table-bordered" >
                <td >
                     "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >
                    "&nbsp;"
                </td >
                <td >  "&nbsp;" 
                </td >
                
            </tr>
        }

    }

    </table>

