<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"  style="color:#f0fff0">
                <li style="color:#f0fff0">@Html.ActionLink("Condiciones", "Index", "Condiciones")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Clientes", null , new {Styles= " color:#f0fff0; font-cp" })</li>
                <li>@Html.ActionLink("Deudores", "Index", "Deudores")</li>
                <li>@Html.ActionLink("Bitacora", "Index", "Log")</li>

            </ul>
          
        </div>
    </div>
</div>
        
        
        
        

@*@*<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Factoring Pyme
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Matnenedores
                        <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Condiciones", "Index", "Condiciones")</li>
                                <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                                <li>@Html.ActionLink("Deudores", "Index", "Deudores")</li>
                                <li>@Html.ActionLink("Bitacora de cambios", "Index", "Log")</li>
                               *<li><a href="#">Liga MX</a></li>
                                <li><a href="#">Ascenso MX</a></li>
                                <li><a href="#">Copa MX</a></li>
                           </ul>
                    </ul>
            </li>
            <li>@Html.ActionLink("Condiciones", "Index", "Condiciones")</li>
            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
            <li>@Html.ActionLink("Deudores", "Index", "Deudores")</li>
            <li>@Html.ActionLink("Log", "Index", "Log")</li>


        </ul>
    </div>
        </div>
    </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
