@model WebAplicacion.Models.CondicionesFactoringViewModel


@using (Html.BeginForm())
{
    Html.AntiForgeryToken();

      <div class="form-horizontal left ">
            @*<div class="form-group">@Html.HiddenFor(model => model.id)</div>*@
            <h4>Condiciones Comerciales</h4>
            <hr />

      <div class="row">
                <h4 class="separador">Tasa Spread Factoring</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.FactoringPymes, htmlAttributes: new { @class = "control-label col-md-2"})
                    <div class="col-md-3">
                        
                            @Html.EditorFor(model => model.FactoringPymes, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                    
                            @Html.ValidationMessageFor(model => model.FactoringPymes, "", new { @class = "text-danger" })        
                        
                    </div>
                    <span class="col-md-7">%</span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FactoringMedianas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.FactoringMedianas, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                        @Html.ValidationMessageFor(model => model.FactoringMedianas, "", new { @class = "text-danger" })
                    </div>
                    <span class="col-md-7">%</span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FactoringGrandes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.FactoringGrandes, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                        @Html.ValidationMessageFor(model => model.FactoringGrandes, "", new { @class = "text-danger" })
                    </div>
                    <span class="col-md-7">%</span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FactoringCoorporativas, htmlAttributes: new { @class = "control-label col-md-2"})
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.FactoringCoorporativas, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                        @Html.ValidationMessageFor(model => model.FactoringCoorporativas, "", new { @class = "text-danger"})
                    </div>
                    <span class="col-md-7">%</span>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FactoringInmobiliarias, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.FactoringInmobiliarias, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                        @Html.ValidationMessageFor(model => model.FactoringInmobiliarias, "", new { @class = "text-danger" })
                    </div>
                    <span class="col-md-7">%</span>
                </div>
    </div>

   <div class="row">
        <h4 class="center separador">Tasa Spread Confirming </h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmingPymes, htmlAttributes: new { @class = "control-label col-md-2"} )
            <div class="col-md-3">
                @Html.EditorFor(model => model.ConfirmingPymes, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.ConfirmingPymes, "", new { @class = "text-danger"})
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmingMedianas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.ConfirmingMedianas, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.ConfirmingMedianas, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmingGrandes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.ConfirmingGrandes, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.ConfirmingGrandes, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmingCoorporativas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor((model => model.ConfirmingCoorporativas), new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.ConfirmingCoorporativas, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmingInmobiliarias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.ConfirmingInmobiliarias, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.ConfirmingInmobiliarias, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>
    </div>

    <div class="row">
        <h4 class="center separador">Spread Cobranza delegada</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.CobranzaDelegadaPymes, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.CobranzaDelegadaPymes, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.CobranzaDelegadaPymes, "", new { @class = "text-danger"})
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CobranzaDelegadaMedianas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.CobranzaDelegadaMedianas, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.CobranzaDelegadaMedianas, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CobranzaDelegadaGrandes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
               @Html.EditorFor(model => model.CobranzaDelegadaGrandes, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
               @Html.ValidationMessageFor(model => model.CobranzaDelegadaGrandes, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CobranzaDelegadaCoorporativas, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.CobranzaDelegadaCoorporativas, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.CobranzaDelegadaCoorporativas, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CobranzaDelegadaInmobiliarias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.CobranzaDelegadaInmobiliarias, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.CobranzaDelegadaInmobiliarias, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>
    </div>

    <div class="row">
        <h4 class="center separador">Spread </h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.TasaSpreadBolsaProductos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.TasaSpreadBolsaProductos, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("%") } })
                @Html.ValidationMessageFor(model => model.TasaSpreadBolsaProductos, "", new { @class = "text-danger" })
            </div>
            <span class="col-md-7">%</span>
        </div>
    </div>

    <div class="row">
        <h4 class="center separador">Comisión </h4>
        <hr />
               <div class="row">
                   <div class="form-group">
                       @Html.LabelFor(model => model.ComisionPyme, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-3">
                           @Html.EditorFor(model => model.ComisionPyme, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("$") } })
                           @Html.ValidationMessageFor(model => model.ComisionPyme, "", new { @class = "text-danger" })
                       </div>
                       <span class="col-md-1">$</span>
                      
                           @Html.LabelFor(model => model.ComisionTipoMoneda, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-4">
                          @* @DropDownList1.SelectedIndex = DropDownList1.Items.IndexOf(DropDownList1.Items.FindByValue(miValor));*@
                           
                           @Html.DropDownList("ComisionTipoMoneda",(List<SelectListItem>) ViewBag.comisionTipoMoneda)
                           @*@Html.EditorFor(model => model.ComisionTipoMoneda, new { htmlAttributes = new { @class = "form-control" } })*@
                           @Html.ValidationMessageFor(model => model.ComisionTipoMoneda, "", new {@class = "text-danger"})
                       </div>
                       </div>
                   </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.ComisionBancaEmpresa, htmlAttributes: new { @class = "control-label col-md-2", })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.ComisionBancaEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("$") } })
                    @Html.ValidationMessageFor(model => model.ComisionBancaEmpresa, "", new { @class = "text-danger" })
                </div>
                <span class="col-md-7">$</span>
            </div>
        </div>
        </div>


    <div class="row">
        <h4 class="separador">Gastos </h4>
         <hr />
        <div class="row">
            <div class="form-group">
            @Html.LabelFor(model => model.GastosNotariaDeudor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.GastosNotariaDeudor, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("$") } })
                @Html.ValidationMessageFor(model => model.GastosNotariaDeudor, "", new { @class = "text-danger"})
            </div>
                <span class="col-md-1">$</span>
            
                @Html.LabelFor(model => model.GastosTipoMoneda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("GastosTipoMoneda", (List<SelectListItem>)ViewBag.gastosTipoMoneda)
                    @*@Html.EditorFor(model => model.GastosTipoMoneda, new {htmlAttributes = new {@class = "form-control"}})*@
                    @Html.ValidationMessageFor(model => model.GastosTipoMoneda, "", new {@class = "text-danger"})
                </div>  
        </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.GastosNotariaNFacturas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.GastosNotariaNFacturas, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayName("$") } })
                    @Html.ValidationMessageFor(model => model.GastosNotariaNFacturas, "", new { @class = "text-danger" })
                </div>
                <span class="col-md-7">$</span>
            </div>
        </div>
    </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="reset" value="cancelar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
    


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
