@model WebAplicacion.Models.ReporteViewModel


@using (Html.BeginForm("Details", "Log"))
{
    @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="titulos">Visualizador de cambios del Mantenedor </h4>

            <table class="table table">

                <tr>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Clientes, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Clientes)
                                    @Html.ValidationMessageFor(model => model.Clientes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                  </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Deudores, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Deudores)
                                    @Html.ValidationMessageFor(model => model.Deudores, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Condiciones, htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Condiciones)
                                    @Html.ValidationMessageFor(model => model.Condiciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Aceptar" class="btn btn-primary glyphicon-search" />
                            </div>
                        </div>
                    </td>
      </table>
                  
</div>
        }

        @*<div>
                @Html.ActionLink("Back to List", "Index")
            </div>*@

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
